
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn_primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;}
    
.text_center{
    text-align: center;
}


.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-position: top left,bottom right;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}
.nav_title{
    font-weight: 800;
    font-size: 45px;
}
.nav_r{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
    margin-right: 51px;

}
nav li a{
    text-decoration: none;
}
.dark_2{
    color: #474747;
}
nav ul{
    display: flex;
    justify-items: center;
    
}
/* banner styles*/
.banner_greetings{
    font-size: 45px;
    font-weight: 600px;
}
.banner_title{
    font-weight: bold;
    font-size: 60px;
}
.banner_image{
    height: 676px;
    width: 584px;
    padding: 38px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px  0 200px;

}
.banner_content{
    max-width: 580px;
}
.header_bg{
    background-color: #FFF8F3;

}

.section_title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section_description{
    font-size: 18;
    color: #757575;

}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;

}
.about_section{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about_items{
    display: flex;
    justify-content:space-around ;
}
.item_description{
    font-weight: bold;
    font-size: 20;
}
.container{
    border: solid #757575;
}
.skills_container{
    display: flex;
    gap: 24px;
    padding: 30px;
}
.skills{
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06)
}